<div id="directions"></div>
<div class="main">
  <ul class="places" id="places"></ul>
  <form action="" id="inputForm">
  <input type="text" name="input" id="input" autofocus>
  </form>
  <button id="calculate">Calculate</button>
</div>

